# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc

# Ignore gradle files
.gradle/
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore Gradle build output directory
build/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
